#header {
    height: 50px;
    background: #e4be8a ;
    color: #fff;
  }
  
  #branding h1 {
    color: #fff;
  }
  
  a:link,
  a:visited {
    color:#374968;
  }
  
  div.breadcrumbs {
    background: rgba(167,185,189,255);
    color: #52677c;
  }
  
  div.breadcrumbs a {
    color: #333;
  }
  
  .module h2, .module caption, .inline-group h2 {
    background: rgba(167,185,189,255);
  }
  
  .button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #52677c;
    color: #fff;
  }